.footer-block{
  position: relative;
  height: 710px;
  margin: -9px;
  margin-top: -107px;
  clip-path: polygon(50% 15%, 100% 0%, 100% 100%, 0 100%, 0 0);
  background: #396085;
}
.footer_icon img{
  width: 15px;
  height: 15px;
  margin-right: 20px;
  margin-top: -45px;
  border-radius: 5px;
}
.footer_icon img:hover{
  width: 17px;
  height: 17px;
  margin-right: 18px;
  margin-top: -45px;
  border-radius: 5px;
}
.field--name-field-image-social-footer{
  display: flex;
  float: right;
  padding-right: 1.5em;
}
.hr-footer{
  margin-right: 2.5em;
  margin-left: 2.5em;
  color: #517292;
  border: 1px solid#486C8E;
}
.footer-h4 p{
  margin-left: 40px;
  color: #5E7D9A;
  display: inline;
}
.footer-company{
  margin-top: 1em;
  margin-left: 2.5em;

}
.footer-company h3{
  font-size: 14px;
}
.menu-left_block{
  position: relative;
  float: left;
  width: 20%;
}
.menu-center_block{
  position: relative;
  float: left;
  width: 30%;
  text-align: right;

}
.menu-right_block{
  position: relative;
  float: right;
  width: 30%;
  margin-top: 20px;
  text-align: right;
  margin-right: 40px;
  color: white;

}
.footer-menu ul{
  float: right;
  margin-top: 30px;
}
.footer-menu li{
  margin-bottom: 10px;
  text-align: left;

  list-style-type: none;
}
.footer-menu a{
  text-decoration: none;

  color: white;
}
.footer_logo{
  margin-top: 2em;
  margin-left: 2.5em;
  color: white;
  font-family: Baskerville MT Std;
}
.block-block-content13f13cd5-0923-4f57-8ac0-a217563f042f{
  width: 20em;
}
.footer_logo_text{
  margin-left: 2.5em;
  color: white;
  font-family: Baskerville MT Std;
}
.footer_menu_block{
  width: 20em;
}
.footer_menu{
  list-style-position: inside;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  margin: 0;
  width: 400px;
  text-decoration: none;
  list-style-type: none;
}
.footer_menu a{
  color: white;
  text-decoration: none;
}
.footer_menu a:hover{
  color: blue;
  text-decoration: none;
  font-size: 12pt;
}
.menu--footer-menu{
  width: 20em;
}

.menu-left_block{
  position: relative;
  float: left;
  width: 20%;
}
.menu-center_block{
  position: relative;
  float: left;
  width: 30%;
  text-align: right;

}
.menu-right_block{
  position: relative;
  float: right;
  width: 30%;
  margin-top: 20px;
  text-align: right;
  margin-right: 40px;
  color: white;

}
.footer-menu ul{
  float: right;
  margin-top: 30px;
}
.footer-menu li{
  margin-bottom: 10px;
  text-align: left;

  list-style-type: none;
}
.footer-menu a{
  text-decoration: none;

  color: white;
}

